h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', cursive;
}

h1 {
    text-align: center;
    font-size: 60px;
    line-height: 1.5;
    color: white;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: -4px;
    background: black;
    display: inline-block;
    padding: 5px 20px;
}

img {
    width: 350px;
}


.title {
    padding: 5px 15px 15px;
    margin: 20px;
}

#chosen-song /* ul */ {
    text-transform: uppercase;
    font-size: 30px;
    /* letter-spacing: 18px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

#letters-guessed {
    height: 24px;
}

#letters-guessed > span {
    margin: 0 10px;
    text-transform: uppercase;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
    border-bottom: 2px solid black;
    width: 28px;
    height: 47px;
    line-height: 47px;
}

input {
    margin: 0 auto;
}

#play-again {
    display: none;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    background: #01b1e6;
    border-color: #01b1e6;
}

#play-again:hover {
    background: #007bff;
    border-color: #007bff;
}

.show {
    opacity: 1 !important;
    display: block !important;
    position: static !important;
}

#artist {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 1.5rem;
}



@media screen and (max-width: 768px) {
    .m-5 {
        margin: 1rem!important;
    }

    .title {
        padding: 0;
        margin-bottom: 0;
    }
}


@media screen and (max-width: 480px) {
    li {
        width: 20px;
        font-size: 25px;
    }

    #artist {
        font-size: 21px;
    }

    .margin-mobile {
        margin-top: 10px;
    }

}


@media screen and (max-width: 450px) {
    h1 {
        font-size: 50px;
        line-height: 1.5;
        letter-spacing: -4px;
    }
}