h1, h2, h3, h4, h5, h6 {
    font-family: 'Tillana', cursive;
}

h1 {
    text-align: center;
    font-size: 60px;
    /* font-weight: bold; */
    color: #a0268d;
}

img {
    width: 500px;
}


.title {
    padding: 20px /* 20px 0 */;
    margin: 20px /* 20px 0 */;
}

#chosen-word /* ul */ {
    text-transform: uppercase;
    font-size: 30px;
    /* letter-spacing: 18px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

#letters-guessed {
    height: 24px;
}

#letters-guessed > span {
    margin: 0 10px;
    text-transform: uppercase;
}

.underline {
    border-bottom: 2px solid black;
}


li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
    border-bottom: 2px solid black;
    width: 28px;
    height: 47px;
    line-height: 47px;
}

input {
    margin: 0 auto;
}

#play-again {
    position: absolute;
    top: -120px;
    left: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.show {
    position: static !important;
    opacity: 1 !important;
}

#artist {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 1.5rem;
}

#left-image {
    width: ;
}




@media screen and (max-width: 480px) {
    li {
        width: 20px;
        font-size: 25px;
    }

    .title {
        padding: 0;
        margin-bottom: 0;
    }

    .margin-mobile {
        margin-top: 10px;
    }
}